<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TraitementCreationCompteServlet</display-name>
    <servlet-name>TraitementCreationCompteServlet</servlet-name>
    <servlet-class>TraitementCreationCompteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementCreationCompteServlet</servlet-name>
    <url-pattern>/TraitementCreationCompteServlet</url-pattern>
  </servlet-mapping>
  <display-name>DevoirJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheLivreServlet</display-name>
    <servlet-name>RechercheLivreServlet</servlet-name>
    <servlet-class>projetJEE.RechercheLivreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheLivreServlet</servlet-name>
    <url-pattern>/RechercheLivreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheLivresServlet</display-name>
    <servlet-name>RechercheLivresServlet</servlet-name>
    <servlet-class>RechercheLivresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheLivresServlet</servlet-name>
    <url-pattern>/RechercheLivresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutLivreServlet</display-name>
    <servlet-name>AjoutLivreServlet</servlet-name>
    <servlet-class>AjoutLivreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutLivreServlet</servlet-name>
    <url-pattern>/AjoutLivreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEmpruntServlet</display-name>
    <servlet-name>GestionEmpruntServlet</servlet-name>
    <servlet-class>GestionEmpruntServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEmpruntServlet</servlet-name>
    <url-pattern>/GestionEmpruntServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoriqueEmpruntServlet</display-name>
    <servlet-name>HistoriqueEmpruntServlet</servlet-name>
    <servlet-class>HistoriqueEmpruntServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoriqueEmpruntServlet</servlet-name>
    <url-pattern>/HistoriqueEmpruntServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RendreLivreServlet</display-name>
    <servlet-name>RendreLivreServlet</servlet-name>
    <servlet-class>RendreLivreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RendreLivreServlet</servlet-name>
    <url-pattern>/RendreLivreServlet</url-pattern>
  </servlet-mapping>
</web-app>